html,
body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  color: rgba(0, 0, 0, 0.75);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.69;
}

.user-container {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
  margin: auto;
  border: 1px solid #ccc;
}

/* .table {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table::-webkit-scrollbar {
  display: none;
} */

.header-row {
  width: 100%;
}

.data-row {
  cursor: pointer;
  width: 100%;
}

.data-row:hover {
  background: #ccc
}

.table-header {
  margin: auto;
  font-weight: 600;
  font-size: 18px;
  padding: 0.25rem;
  border: 1px solid #ccc;
}

.data-cell {
  margin: auto;
  font-weight: 400;
  font-size: 17px;
  padding: 0.25rem;
  border: 1px solid #ccc;
}

.header {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-description {
  font-weight: 600;
  font-size: large;
}

.loc-history {
  font-weight: 600;
  font-size: 22px;
  margin-top: 15px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-img {
  width: 10rem;
  height: 10rem;
  border-radius: 100vh;
  object-position: center;
  object-fit: contain;
  margin-right: 4rem;
}

.desc-block {
  /* width: 95%; */
  /* margin: auto; */
  margin-top: 10px;
}

.all-users {
  font-weight: 600;
  font-size: 30px;
}

/* @media screen and (max-width: 787px) {
  .table {
    width: 95%;
  }
} */